*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
transition:0.3s;
}

body.light{
background:#FFF;
color:#111; 
}

body.dark{
background:#111;
color:#FFF;
}

.container{
display:flex;
height:100vh;
}

.left{
flex:1;
padding:60px;
}

.top{
display:flex;
gap:10px;
opacity:.7;
}

h1{
margin-top:100px;
font-size:60px;
}

.score-text{
margin-top:20px;
font-size:24px;
opacity:.7;
}

.right{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.card{
width:300px;
height:380px;
background:#8A2BE2;
border-radius:25px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:15px;
color:white;
}

.number{
font-size:80px;
font-weight:bold;
}

.outof{
opacity:.9;
}

button{
margin-top:40px;
padding:15px 40px;
border:none;
border-radius:30px;
cursor:pointer;
background:#8A2BE2;
color:white;
font-size:18px;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
}

.toggle{
position:absolute;
top:20px;
right:20px;
padding:8px 16px;
border-radius:20px;
font-size:14px;
cursor:pointer;
border:1px solid #ccc;
background:none;
}

body.light .toggle {
    color: #000;      
    border: 1px solid #000;
    background: #fff;  
}

body.dark .toggle {
    color: #fff;     
    border: 1px solid #fff;
    background: #111;  
}

