.options {
  box-sizing: border-box;
  padding: 20px;
  gap: 32px;
  isolation: isolate;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--card-bg);
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  border-radius: 24px;
  cursor: pointer;
  width: 564px;
  height: 96px;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
}

.right-side {
  width: 564px;
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
}

.h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
}

.Start-menu {
  display: flex;
  width: 1160px;
  height: 400px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  align-items: center;
  color: var(--text-color);
}

.left-side {
  width: 465px;
  height: 214px;
  gap: 48px;
  margin-top: -200px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  top: 20px;
  left: 20px;
}

.orange {
  background-color: #fff1e9;
}

.green {
  background-color: #e0fdef;
}

.blue {
  background-color: #ebf0ff;
}

.purple {
  background-color: #f6e7ff;
}