:root {
  font-family: Rubik, sans-serif;
   background-color: #F4F6FA;
   --card-bg-box: #F4F6FA;
  --text-color: #313E51;
  --card-bg: #ffffff;
  --purple: #A729F5;
  --slc: #ffffff;
  --stc: #EDF1F9;
  --svf: #626C7F;
  --outOf: #626c7f;
}

body {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.dark {
  background-color: #343e4f;
  --card-bg-box: #F4F6FA;
  --text-color: #ffffff;
  --card-bg: #3B4D66;
  --purple: #A729F5;
  --slc: #3B4D66;
  --stc: #2D3949;
  --svf: #fff;
   --outOf: #ABC1E1;
}

* {
  padding: 0;
  margin: 0;
}